@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-sans-serif;
  background: $dark-gray;
}

body {
  height: 100vh;
  border: 15px solid $dark-gray;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

.app {
  background: $white;
}

.main {
  &__container {
    @include min-screen(768px) {
      display: flex;
    }
  }
  &__section {
    padding: 10px 15px 50px;
    @include min-screen(768px) {
      width: 50%;
      height: 87vh;
    }
    @include min-screen(1024px) {
      padding: 10px 70px 50px;
    }
    &:first-child {
      padding: 65px 15px 10px;
      @include min-screen(768px) {
        padding: 10px 15px 50px;
      }
      @include min-screen(1024px) {
        padding: 10px 70px 50px;
      }
    }
    &--dark {
      background: $dark-gray;
    }
  }
  &__title {
    font-size: 28px;
    font-family: $font-serif;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $dark-gray;
    &--light {
      color: $white;
    }
  }
}

.skills {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px 80px;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    justify-items: center;
    max-width: 600px;
    margin: auto;
    @include min-screen(1024px) {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: initial;
    }
    @include min-screen(1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: initial;
    }
  }
}
