@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-sans-serif;
  background: $dark-gray;
}

body {
  overflow: hidden;
  height: 100vh;
  border: 15px solid $dark-gray;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

#root,
.app {
  height: 100%;
}
.app {
  background: $white;
}
