.header {
  font-family: $font-serif;
  font-weight: 700;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 30px;
  height: 80px;

  background: none;
  z-index: 2;
  &--open-nav {
    height: 100%;
    background: $pink;
    color: $white;
    .header__logo {
      color: $white;
    }
    .header__trigger-nav {
      padding-top: 8px;
    }
    .header__trigger-nav-bar {
      background: $white;
      &:nth-child(1) {
        transform: rotate3d(0, 0, 1, 45deg);
        top: 7px;
      }
      &:nth-child(2) {
        transform: rotate3d(0, 0, 1, -45deg);
        top: -3px;
      }
    }
  }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    margin: 0;
    font-size: 25px;
    transition: all 0.3s;
    font-weight: $font-regular;
    color: $dark-gray;
    @include min-screen(1024px) {
      font-size: 30px;
    }
    &:hover,
    &:active {
      font-weight: $font-bold;
    }
  }
  &__trigger-nav {
    cursor: pointer;
    height: 45px;
    width: 45px;
    padding: 10px 0 0 10px;
    &:hover,
    &:active {
      opacity: 0.55;
    }
  }
  &__trigger-nav-bar {
    background: $dark-gray;
    border-radius: 3px;
    display: block;
    height: 2px;
    margin-top: 5px;
    padding: 0;
    position: relative;
    transition: all 0.2s ease;
    width: 30px;
    margin: 8px auto 0;
  }
}
