.home-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  color: $dark-gray;
  &__container {
    margin: 20px;
    padding: 100px 0;
    z-index: 1;
    position: relative;
    text-align: center;
    user-select: none;
  }
  &__title,
  &__subtitle {
    font-family: $font-serif;
    font-style: italic;
  }
  &__title {
    position: relative;
    opacity: 0.75;
    font-weight: $font-bold;
    font-size: 45px;
    line-height: 1.1;
    padding: 0 10px 20px;
    transition: color 0.5s;
    @include min-screen(1024px) {
      font-size: 55px;
    }
    @include min-screen(1200px) {
      font-size: 75px;
    }
    &:hover {
      opacity: 1;
      &:before {
        transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
      }
      + .home-intro__subtitle {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: 36px;
      width: 60%;
      top: 50%;
      margin-top: -18px;
      left: 20%;
      z-index: -1;
      background: $white;
      transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 1, 1);
      transition: transform 0.75s ease-in-out;
    }
  }
  &__subtitle {
    margin-top: 15px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    color: $gold;
    bottom: 80px;
    opacity: 0;
    transform: translate3d(-10px, -10px, 0);
    transition: transform 0.75s, opacity 0.75s;
    @include min-screen(1024px) {
      font-size: 25px;
    }
  }
  &__cta {
    display: block;
    margin-top: auto;
    position: absolute;
    bottom: 30px;
    font-size: 35px;
    color: $dark-gray;
    text-align: center;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:active {
      transform: translateY(10px) !important;
      .home-intro__cta-info {
        opacity: 1;
      }
    }
  }
  &__cta-info {
    opacity: 0;
    font-size: 12px;
    display: block;
    transition: all 0.5s ease-in-out;

  }
}
