.nav {
  display: none;
  &--open {
    height: calc(100% - 65px);
    display: block;
  }
  &__list {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 300px;
    margin: 0 auto;
  }
  &__list-item {
    margin-bottom: 15px;
    &:hover .nav__item-name:before,
    &:focus .nav__item-name:before {
      transform: scale3d(1, 1, 1);
      transform-origin: 50% 0%;
    }
  }
  &__list-link {
    position: relative;
  }
  &__item-name {
    color: $white;
    font-size: 25px;
    @include min-screen(1024px) {
      font-size: 35px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: $black;
      transform: scale3d(1, 0, 1);
      transform-origin: 50% 100%;
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
  &__item-label {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0 0 30px;
    white-space: pre;
    color: $gray;
    font-size: 20px;
    span {
      display: inline-block;
    }
  }
}
