$white: #ffffff;
$gold: #c0b382;
$pink: #dcd0c0;
$dark-pink: #e53369;
$dark-gray: #373737;
$gray: #515152;
$light-gray1: #dddddd;
$light-gray2: #b9b9b9;
$black: #000000;
$blue: #f5f8fa;

$font-serif: 'Playfair Display', serif;
$font-sans-serif: 'Raleway', sans-serif;

$font-regular: 400;
$font-bold: 700;
