.works-item {
  @include landscape() {
    max-width: 50%;
    margin: auto;
    text-align: center;
  }
  @include min-screen(768px) {
    width: 50%;
    margin: auto;
    @include landscape() {
      width: 45%;
    }
  }
  @include min-screen(1024px) {
    width: 55%;
  }
  &__link {
    display: flex;
    justify-content: center;
  }
  &__content {
    position: relative;
    // viniette
    // &:after {
    //   @include min-screen(1024px) {
    //     box-shadow: inset 0px 0px 150px 60px rgba(255, 255, 255, 0.8);
    //     content: '';
    //     position: absolute;
    //     top: 0%;
    //     left: 0%;
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
  }
  &__info {
    margin-bottom: 5%;
    z-index: 99;
    @include landscape() {
      margin-bottom: initial;
      position: absolute;
      left: -50%;
      top: 50%;
      transform: translate(0, -50%);
    }
    @include min-screen(1024px) {
      position: absolute;
      top: 50%;
      transform: translate(-200px, -50%);
      margin: 0;
      text-align: left;
      @include landscape() {
        transform: translate(0, -50%);
      }
    }
  }
  &__title,
  &__subtitle {
    color: $dark-gray;
  }
  &__title {
    font-size: 35px;
    font-family: $font-serif;
    font-weight: $font-bold;
    text-transform: uppercase;
    @include min-screen(1024px) {
      font-size: 85px;
    }
  }
  &__subtitle {
    @include min-screen(1024px) {
      font-size: 22px;
    }
  }
  &__img {
    // for b&w
    // @include min-screen(1024px) {
    //   filter: grayscale(100%);
    // }
  }
}
