.works-item-details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 0 30px;
  background: $pink;
  &__title {
    color: $white;
  }
  &__link {
    color: $white;
  }
  &__close {
    height: 45px;
    width: 45px;
    padding: 10px 0 0 10px;
  }
  &__close-bar {
    border-radius: 3px;
    display: block;
    height: 2px;
    margin-top: 5px;
    padding: 0;
    position: relative;
    transition: all 0.2s ease;
    width: 30px;
    margin: 8px auto 0;
    background: $white;
    &:nth-child(1) {
      transform: rotate3d(0, 0, 1, 45deg);
      top: 7px;
    }
    &:nth-child(2) {
      transform: rotate3d(0, 0, 1, -45deg);
      top: -3px;
    }
  }
  &__content {
  }
}
