.works-item {
  opacity: 0;
  animation: 1s fadeIn ease-in 1 forwards 0.5s;
  @include landscape() {
    max-width: 50%;
    margin: auto;
    text-align: center;
  }
  @include min-screen(768px) {
    width: 50%;
    margin: auto;
    @include landscape() {
      width: 45%;
    }
  }
  @include min-screen(1024px) {
    width: 55%;
  }
  &__link {
    display: flex;
    justify-content: center;
  }
  &__content {
    position: relative;
  }
  &__info {
    margin-bottom: 5%;
    z-index: 99;
    text-align: center;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    @include landscape() {
      @include max-screen(768px) {
        text-align: left;
        top: 50%;
        left: -50%;
        transform: translateY(50%);
      }
    }
  }
  &__title,
  &__subtitle {
    color: $dark-gray;
  }
  &__title {
    font-size: 35px;
    font-family: $font-serif;
    font-weight: $font-bold;
    text-transform: uppercase;
    @include min-screen(1024px) {
      font-size: 75px;
    }
  }
  &__subtitle {
    @include min-screen(1024px) {
      font-size: 22px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
